<%- include('./partials/head') %>
    <link rel="stylesheet" type="text/css" href="/css/cargaProductos.css">
    </head>

    <body>
        <%- include('./partials/header') %>
    </body>

    <main>
        <div class="container">
            <div class="der-card">
              <form action="/products/<%= pelicula.id %>?_method=PUT" method="POST" enctype="multipart/form-data" >
                <h2>Editar pelicula</h2>
                <div class="input-group">
                  <label for="titulo">Titulo</label>
                  <input type="text" id="titulo" name="titulo" value="<%= pelicula.titulo %>" required>
                </div>
                <div class="input-group">
                  <label for="trailer">Trailer URL</label>
                  <input type="text" id="trailer" name="trailer" value="<%= pelicula.trailer %>" required>
                </div>
                <div class="input-group">
                  <label for="anio">Año</label>
                  <input type="text" id="anio" name="anio" value="<%= pelicula.anio %>" required>
                </div>
                <div class="input-group">
                  <label for="categoria">Categoria</label>
                  <input type="text" id="categoria" name="categoria" value="<%= pelicula.categoria %>" required>
                </div>
                <div class="input-group">
                  <label for="descripcion">Descripcion</label>
                  <textarea id="descripcion" name="descripcion" rows="8" cols="40" required><%= pelicula.descripcion %></textarea>
                </div>
                <div class="input-group">
                  <label for="imagen">
                    <span>Imagen de portada</span>
                  </label>
                  <input type="file" id="imagen" name="imagen" value="<%= pelicula.imagen %>">
                </div>
                <a href="/" class="cancel-btn" >Cancelar</a>
                <button type="submit">Editar</button>
              </form>
            </div>
          </div>
    </main>
    <%- include('./partials/footer') %>
</html> 