<%- include('./partials/head') %>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
    <%- include('./partials/header') %>

    <main>
        <!-- <div class="portada">
            <img src="/images/oppenheimer.jpg" alt="portada">
        </div> -->
        <div class="filtros-izq">
            <h3>Filtros</h3>
            <ul>
                <li>Accion</li>
                <li>Aventura</li>
                <li>Terror</li>
                <li>Suspenso</li>
                <li>Independiente</li>
            </ul>
        </div>
        <div class="contenido">
            <h3>Destacadas</h3>
            <a class="add-producto" href="/products/create">Agregar</a>
            <div class="tarjetas">
                <% peliculas.forEach(pelicula => { %>
                    <div class="tarjeta">
                        <p class="tituloPeli"><%= pelicula.titulo %></p>
                        <a class="oppenheimer" href="/products/detail/<%= pelicula.id %>">
                            <img src="<%= pelicula.imagen %>" alt="logo">
                        </a>
                        <a href="/products/detail/<%= pelicula.id %>">Detalle</a>
                        <p><%= pelicula.categoria %></p>
                    </div>  
                <% }); %>
            </div>
        </div> 
    </main>
    <%- include('./partials/footer') %>
</body>

</html>