<%- include('./partials/head') %>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>

    <body>
        <%- include('./partials/header')%>

            <main>
                <div class="filtros-izq">
                    <h3>Categorias</h3>
                    <ul>
                            <li>Ficcion</li>
                            <li>Biografia</li>
                            <li>Comedia</li>
                            <li>Fantasia</li> 
                            <li>Accion</li> 
                            <li>Terror</li> 
                            <li>Animacion</li>  
                    </ul>
                </div>
                <div class="contenido">
                    <h3>Destacadas</h3>
                    <a class="add-producto" href="/agregar">Agregar</a>
                    <div class="tarjetas">
                        <% peliculas.forEach(pelicula=> { %>
                            <div class="tarjeta" style="background-image: url('<%= pelicula.imagen %>');"
                                data-pelicula-id="<%= pelicula.id %>">
                                <p class="tituloPeli">
                                    <%= pelicula.titulo %>
                                </p>
                            </div>
                            <% }); %>
                                <script>
                                    let tarjetas = document.querySelectorAll(".tarjeta");
                                    tarjetas.forEach(function (tarjeta) {
                                        tarjeta.addEventListener("click", function () {
                                            let peliculaId = this.getAttribute("data-pelicula-id");
                                            window.location.href = "/" + peliculaId;
                                        });
                                    });
                                </script>

                    </div>
                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

    </html>